{{>parcial/header}}
    
<h3>Digite seu ano de nascimento</h3>
<form method="post" action="/idade-resultado">
    <input type="number" name="ano" placeholder="Ano de Nascimento">
    <input type="submit" value="Enviar">
</form>
<hr>

{{#mostrarIdade}}
    Você tem {{idade}} anos
{{/mostrarIdade}}

{{^mostrarIdade}}
    Preencha o ano que vocês nasceu
{{/mostrarIdade}}

{{>parcial/rodape}}